@media screen and (max-width: 700px){

    .filter{
        height: 60%;
        width: 70%;
        display: flex;
    }

    .filter-input{
        height: 50px;
        font-size: 25px;
        text-align: center;
        background-color: #4D5246;
        border-radius: 10px 0px 0px 10px;
        border: 1px solid #4D5246;
        color: #F8FCF4;
    }

    .button-filter{
        height: 54px;
        background-color: #4D5246;
        border-radius: 0px 10px 10px 0px;
        border: 1px solid #4D5246;
        cursor: pointer;
        color: #000;
    }

}