.main-conteiner-img{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto; 
    overflow-y: hidden;
    padding:0px;
    background-color: transparent;
}

.container-img{
    display: flex;
    height: 250px;
    width: 190px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    
}

.code-art{
    position: relative;
    text-align: center;
    width: 80%;
    color: #fff;
    font-weight: 500;
    margin: 0px 10px 0px 10px;
    border-radius: 3px;
    padding: 0;
    bottom: 25px;
    background-color: #628D2A;
    background-color: transparent;
}

.img-error{
    width: 50px;
    background-color: #f4f4f4;
    margin: 50px;
    opacity: 0.5;
    overflow: hidden;
    box-sizing: border-box;
}
