@media screen and (min-width: 701px){
.max-resposive{
    font-size: 5rem;
    color: #628D2A;
    background-color: #F4F4F4;

}
.main-container{
    display: none;
}

.loading{
    display: none;
}

}

@media screen and (max-width: 700px){
    
    .max-resposive{
        display: none;
    }

    .loading{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F4F4F4;
    }

    .main-container{
        display: grid;
        place-content: center;
        grid-template-rows: 15% 25% 35% 25% ;
        background-color: #F4F4F4;
        height: 100vh;
        overflow: hidden;
    }

    .container-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.8;
    }

    a{
        color: #fff;
        text-decoration: none;
    }
   
    .container-result{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333333;
    }

    .container-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0.8;
    }

    .container-record{
        display: flex; 
        justify-content: center;
        background-color: #F4F4F4 ;
        opacity: 0.8;
        object-fit: contain;
    }

    .img-product{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    }

    .activeCam{
        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 50%;
        border: none;
        background-color: #628D2A;
        cursor: pointer;
    }
