@media screen and (max-width: 600px){


    .main-container{
        display: grid;
        grid-template-rows: 10% 30% 10% 50% ;
        background-color: #383C33;
        height: 98vh;
        width: 100%;
        overflow: hidden;
    }

    .container-header{
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
        font-size: 20px;
        
    }

    a{
        color: #fff;
        text-decoration: none;
    }
   

    .container-result{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333333;
    }

    .container-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-record{
        display: flex;
        width: 50vh;
        background-color: #3B3F36 ;
        opacity: 0.8;
        border-radius: 15px;
        overflow: scroll;
    }

}