.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.viewport {
    width: 100%; /* O un ancho específico */
    height: auto; /* O una altura específica */
    overflow: hidden; /* Para evitar barras de desplazamiento si el video es más grande */
}

.rotate-cam{
    z-index: 55;
    position: absolute;
    left: 78%;
    margin: 8px;
    background-color: #628D2A;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: rgb(95, 92, 92) solid 0.5px ;
}

.activeCam{
    z-index: 55;
    border-radius: 50%;
    border: none;
    background-color: #628D2A;
    height: 60px;
    width: 60px;
    cursor: pointer;
}