
.viewport{
    position: relative;
    aspect-ratio: 4/3;
}

.rotate-cam{
    z-index: 55;
    position: absolute;
    left: 78%;
    margin: 8px;
    background-color: #628D2A;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: rgb(95, 92, 92) solid 0.5px ;
}

.activeCam{
    z-index: 55;
    position: relative;
    align-self: center;
    border-radius: 50%;
    border: none;
    background-color: #628D2A;
    height: 150px;
    width: 150px;
    cursor: pointer;
}